[Unit]
Description=Run BitNin Shadow Supervisor periodically

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
